* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #0f0214;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}
/* Para WebKit browsers */
::-webkit-scrollbar {
  width: 12px; /* Ancho del scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color del track del scrollbar */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #000; /* Color del thumb del scrollbar */
  border-radius: 6px; /* Bordes redondeados para el thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #000; /* Color del thumb al pasar el mouse */
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}
#presentacion-component {
  display: flex;
  align-items: center;
}
.typing-effect {
  color: white;
  font-size: 3rem;
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  line-height: 1; /* Ajusta la altura de la línea para que coincida con el texto */
  animation: typing 5s steps(30, end) infinite, blink 0.75s step-end infinite;
}
@keyframes typing {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  90% {
    width: 100%; /* Mantén el texto visible durante un tiempo */
  }
  100% {
    width: 0; /* Haz que desaparezca para repetir */
  }
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
/* ------------------------------ Sección Menú -------------------------------*/
.cabecera {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: black;
}

.cabecera-logo {
  max-width: 80px; /* Ajuste para pantallas pequeñas */
}

.cabecera-titulo {
  font-size: 1.2rem;
  text-align: center;
}

.navegacion-lista {
  display: none;
}

.navegacion-elemento a {
  font-size: 0.9rem;
}
/* Sobre mi */
#sobre-mi {
  display: flex;
  gap: 8px;
  padding: 10px;
  margin: -50px 0px 0px 20px;
}
.sobre-mi-titulo {
  font-size: 30px;
  color: black;
}
.sobre-mi-texto {
  font-size: 20px;
  color: black;
}
#sobre-mi1 {
  width: 500px;
  justify-content: center;
  padding: 2rem;
  background-color: #f1f1f1;
  border-radius: 5px;
}
#sobre-mi2 {
  display: flex;
  width: 500px;
  flex-direction: column;
  padding: 2rem;
  background-color: #f1f1f1;
  border-radius: 5px;
  gap: 10px;
}

#sobre-mi-contac {
  width: 500px;
  justify-content: center;
  max-height: 130px;
  background-color: #f1f1f1;
  border-radius: 5px;
  background-color: aqua;
}
#contact-list {
  justify-content: center;
  display: flex;
  gap: 10px;
}
#linkedin {
  font-size: larger;
}
.github {
  max-width: 48px;
}
#sobre-mi-habilities {
  width: 500px;
  justify-content: center;
  max-height: 130px;
  background-color: #f1f1f1;
  border-radius: 5px;
  background-color: blueviolet;
}
#habilities-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.react {
  max-width: 48px;
}
.firebase {
  min-width: 40px;
}
.docker {
  min-width: 40px;
}

/*Slider*/
#proyectos {
  display: flex;
  justify-content: center;
  margin: 0px 0px 0px 280px;
  max-height: 400px;
  max-width: 600px;
  background-color: antiquewhite;
  border-radius: 10px;
  padding: 10px;
}

.slider {
  max-width: 400px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  background-color: rgb(200, 35, 109);
}

.slides {
  display: flex;
  width: 300%;
  animation: slide 20s infinite; /* Ajusta el tiempo a 20s para hacerlo más lento */
}

.slides img {
  width: 100%;
  flex: 1 0 100%;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  33% {
    transform: translateX(-100%);
  }
  66% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0%);
  }
}
/* Ta
blets y pantallas más grandes */
@media (min-width: 768px) {
  .cabecera {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .cabecera-logo {
    max-width: 100px;
  }

  .cabecera-titulo {
    font-size: 1.5rem;
  }

  .navegacion-lista {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 0;
  }

  .navegacion-elemento a {
    font-size: 1rem;
  }
}

/* Pantallas grandes */
@media (min-width: 1024px) {
  /* Aquí puedes ajustar aún más el diseño para pantallas grandes */
  .cabecera-itulo {
    font-size: 1.8rem;
  }

  .navegacion-elemento a {
    font-size: 1.1rem;
  }
}
